doctype html
html(lang="es")
  include head
  body(background="/img/fondo.jpg")
    include nav
    .container
      .messages.pt-5
        include messages
      .content.pt-5.pb-5
        block content
    include footer
    include scripts