if exito 
    .alert.alert-success.alert-dismissible.fade.show(role='alert')
      button.close(type='button', data-dismiss='alert', aria-label='Close')
        span(aria-hidden='true') ×
      strong ÉXITO:
      |  #{exito}

if info 
    .alert.alert-info.alert-dismissible.fade.show(role='alert')
      button.close(type='button', data-dismiss='alert', aria-label='Close')
        span(aria-hidden='true') ×
      strong INFORMACIÓN:
      |  #{info}

if aviso 
    .alert.alert-warning.alert-dismissible.fade.show(role='alert')
      button.close(type='button', data-dismiss='alert', aria-label='Close')
        span(aria-hidden='true') ×
      strong AVISO:
      |  #{aviso}

if error 
    .alert.alert-danger.alert-dismissible.fade.show(role='alert')
      button.close(type='button', data-dismiss='alert', aria-label='Close')
        span(aria-hidden='true') ×
      strong ERROR:
      |  #{error}