nav.navbar.navbar-expand-lg.navbar-toggleable-lg.navbar-light.bg-light.fixed-top.mb-5(role='navigation')
 
  .container     
    a.navbar-brand(href='/') Inicio

    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon

    #navbarNavDropdown.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='/informacion') Información
        li.nav-item
          a.nav-link(href='/resultados') Resultados
        li.nav-item
          a.nav-link(href='/informes') Informes
        li.nav-item
          a.nav-link(href='/modulos') Módulos
        li.nav-item
          a.nav-link(href='/profesores') Profesores
        li.nav-item
          a.nav-link(href='/alumnos') Alumnos
        li.nav-item
          a.nav-link.fa.fa-sign-out.fa-lg.mt-1(href='/logout')  #{usuario.nombre} #{usuario.apellido1} #{usuario.apellido2}
    
          
       
