nav.navbar.navbar-expand-lg.navbar-toggleable-lg.navbar-light.bg-light.fixed-top.mb-5(role='navigation')
 
  .container     
    a.navbar-brand(href='/') Inicio

    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon

    #navbarNavDropdown.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/informacion') Información
        li.nav-item
          a.nav-link(href='/resultados') Resultados
        li.nav-item
          a.nav-link(href='/informes') Informes
        li.nav-item.dropdown
          a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Datos
          .dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
            a.dropdown-item(href="/modulos") Módulos
            a.dropdown-item(href="/profesores") Profesores
            a.dropdown-item(href="/alumnos") Alumnos
      if usuario 
        .navbar-form.navbar-right.ml-auto
          a.btn.btn-sm.align-middle.btn-primary.mt-1(href='/profesores/'+usuario.id) #{usuario.nombre} #{usuario.apellido1} #{usuario.apellido2} 
          a.btn.btn-sm.align-middle.btn-outline-danger.fa.fa-sign-out.fa-lg.mt-1.ml-3.py-2(role='button', href='/logout', title="Salir")  
      else
        .navbar-form.navbar-right.ml-auto
          a.btn.btn-sm.align-middle.btn-outline-danger.fa.fa-sign-out.fa-lg.mt-1.ml-5.py-2(role='button', href='/logout', title="Salir") 
      
      //- li.nav-item
      //-   a.nav-link(href='/modulos') Módulos
      //- li.nav-item
      //-   a.nav-link(href='/profesores') Profesores
      //- li.nav-item
      //-   a.nav-link(href='/alumnos') Alumnos
      //- li.nav-item
      //-   
          
       
