nav.navbar.navbar-expand-lg.navbar-toggleable-lg.navbar-light.bg-light.mb-5(role='navigation')

  a.navbar-brand(href='/') Inicio

  button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon

  #navbarNavDropdown.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='/resultados') Resultados
      li.nav-item
        a.nav-link(href='/informes') Informes
      li.nav-item
        a.nav-link(href='/info') Información
      li.nav-item
        a.nav-link(href='/modulos') Módulos
      li.nav-item
        a.nav-link(href='/profesores') Profesores
      li.nav-item
        a.nav-link(href='/alumnos') Alumnos
        
       
